
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'SF-medium';
  src: url(../assets/SFPRODISPLAYMEDIUM.OTF);
}

@font-face {
  font-family: 'SF-regular';
  src: url(..//assets/SFPRODISPLAYREGULAR.OTF);
}

@font-face {
  font-family: 'SF-bold';
  src: url(..//assets/SFPRODISPLAYBOLD.OTF);
}

@font-face {
  font-family: 'SF-semibold-italic';
  src: url(..//assets/SFPRODISPLAYSEMIBOLDITALIC.OTF);
}

@font-face {
  font-family: 'SF-rounded-bold';
  src: url(..//assets/SF-Pro-Rounded-Bold.otf);
}

body::-webkit-scrollbar {
  display: none;
}

html {
  scroll-behavior: smooth;
}

body * {
  @apply transition-colors duration-1000 ease-in-out
}


 /* body, html {
    padding: 0;
    margin: 0;
    background-color: #eeeeee;
  }

  .index {
     display: flex;
     flex-direction: column;
     align-items: center;
  }

  .index-container {
    background-color: white;
    height: 200vh;
    width: 100%;
    max-width: 1200px;
    border-radius: 30px;
    box-shadow: 0px 0px 20px 1px rgb(233, 233, 233);
    padding: 0 5vw 0 5vw;

    display: flex;
    flex-direction: row;
  }
   */
