
@tailwind base;
@tailwind components;
@tailwind utilities;

body::-webkit-scrollbar {
  display: none;
}

html {
  scroll-behavior: smooth;
}



 /* body, html {
    padding: 0;
    margin: 0;
    background-color: #eeeeee;
  }

  .index {
     display: flex;
     flex-direction: column;
     align-items: center;
  }

  .index-container {
    background-color: white;
    height: 200vh;
    width: 100%;
    max-width: 1200px;
    border-radius: 30px;
    box-shadow: 0px 0px 20px 1px rgb(233, 233, 233);
    padding: 0 5vw 0 5vw;

    display: flex;
    flex-direction: row;
  }
   */
